dd-5e-livro-do-jogador-fundo-branco-biblioteca-c3a9lfica.pdf
tests
.vscode
src/persistence/rpg_characters.db

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Environments
.env
.venv

# LSP config files
pyrightconfig.json

# End of https://www.toptal.com/developers/gitignore/api/python